@use "colors.scss";
@use "values.scss";

.main {
    @include values.main-top-padding();
    background-color: colors.$home-bg;
    height: 100vh;
    color: colors.$home-clr;
}

.welcome {
    height: 10rem;
    display: flex;
    justify-content: center;
    span {
        border-bottom: 3px solid colors.$home-clr;
    }
}

.body_first {
    @include values.regular-margin();
    font-size: 1.5rem;
}